<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>

  <body>
    <div id="app">
    <h1>Counter</h1>
    <p> {{ count }} </p>
    <button v-on:click="incrementCount">Increment count</button>
    <h3>{{ incrementAmount }}</h3>
    <div>
      <label for="incrementAmount">Increment by:</label>
      <input type="number"
        v-model="incrementAmount">
    </div>
    <hr />
    <h1>Hello!</h1>
      <p v-if="message.length % 2 === 0">Even: {{ message }}</p>

      <p v-else>Odd: {{ message.toUpperCase() }}</p>
      <ul v-for="item in items">
        <li>{{ item.name }}</li>
        <ul>
          <li v-for="number in item.list"> {{ number }}</li>
        </ul>
      </ul>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
    // Vue 2 -> everything instantiated from Vue.
    // new Vue()

    // Vue 3 split apart things you don't need.
    const { createApp } = Vue; // destructuring syntax.
    // Same as: const createApp = Vue.createApp


    // create setup
    const app = createApp({
      data() {
        return {
          message: "Hello it works!",
          items: [
              { name: "Item 1", list:  [1, 2, 3] },
              { name: "Item 2", list:  [4, 5, 6] },
              { name: "Item 3", list:  [7, 8, 9] }
            ],
          count: 10,
          incrementAmount: 8
          }
        },
        methods: {
          incrementCount() {
            this.count += this.incrementAmount
        }
      }
    })
      app.mount('#app') // mount to the div with id app
    </script>
  </body>
</html>
